<a href="https://colab.research.google.com/github/asorgolden/python-basics-bootcamp/blob/main/Python_Bootcamp_Graded_Hands_on_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1

We have declared a tuple containing five same elements as following: T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’). Re-write the same code in an optimal/simple way that fetches the same result.

In [ ]:
#Initially, this will return ('python', 'python', 'python', 'python', 'python')

T = ('python', 'python', 'python', 'python', 'python')
print(T)

('python', 'python', 'python', 'python', 'python')

Solution to Task 1

In [ ]:
# A simpler way to write the code that fetches the same result is to multiply the string by 5. Hence,

5*('python',)

('python', 'python', 'python', 'python', 'python')

# Task 2

Write code to print characters from a string that are present at an even index number. For example, if your input string is "python", the output characters will be (p,t,o)

Solution to Task 2

In [ ]:
#Let our string be = "demonstrate"

str="demonstrate"

In [ ]:
#To print the characters from this string that are present at an even index number,

print(*str[0::2])

d m n t a e

#######This is an extended string slicing operator that prints characters from index 0 to every other character whose index is divisible by 2 without a remainder.
########This gives the list of even characters

# Task 3

Write a function that calculates the average of the elements of the list:

elements = [5, 7, 4, 9, 2]

Solution to Task 3

In [ ]:
def my_average(sum, len):
    average=sum/len
    print(average)

In [ ]:
elements = [5, 7, 4, 9, 2]

In [ ]:
sum(elements)

27

In [ ]:
len(elements)

5

In [ ]:
my_average(27, 5)

5.4

# Task 4

Write a code that takes a year as input and determines whether it is a leap year or not.

Solution to task 4

In [ ]:
import calendar
my_admission_year=input("What year did you gain admission into college?" " ")
calendar.isleap(2015)

What year did you gain admission into college? 2015

False

# Task 5

Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

Solution to Task 5

In [ ]:
#Step 1: SORT

l = [21, 6, 12, 57, 35, 61]
l.sort()
print(l)

[6, 12, 21, 35, 57, 61]

In [ ]:
#Step 2: Define a function to calculate the sum of second maximum and second minimum

def my_sum(Max2, Min2):
    sum=Max2+Min2
    print(sum)

In [ ]:
#Step 3: Print the value of second max and second min using string slicing

l[-2]

57

In [ ]:
l[1]

12

In [ ]:
#Step 4: Create a variable for each as defined in the function above

Max2="l[-2]"
Min2="l[1]"

In [ ]:
#Step 5: Using the function, calculate the sum

my_sum(57, 12)

69